/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map-container {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h4 {
  padding-top: 5%;
}
/*Origin and Destination buttons */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.halfwayby {
  padding-left: 10%;
  text-align: left;
}
.halfwayby label{
  color: white;
}
#landing-page .halfwayby input{
  width: 20px;
  height: 20px;
}


#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#title {
  padding: 15px;
}

/*Landing page overlay*/
#landing-page {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 3;
  right: 0;
  padding-top: 10%;
}

#form {
  height: 100%;
}
#landing-page input, #landing-page button, #landing-page .halfwayby{
  display: inline-block;
  position: relative;
  width: 50%;
  height: 10%;
  margin: 1%;
}

#map-content{
  display: none;
  position: absolute;
  z-index: 2;
}

#map {
  z-index: 0;
}

#safe-container {
  overflow-y: auto;
  box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100%;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  color: white;
  bottom: 0;
  background-color: #4d90fe;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 2px;
  margin-top: 1%;
}

#line{
  border-color: #4d90fe;
  margin-top: 5px;
  margin-bottom: 10px;
}

.check-places{
  width: 100%;
}

.option {
  border: solid;
  border-color: black;
  background-color: white;
  margin: 1%;
  padding: 3%;
  border-radius: 3%;
  display: block;
  position: relative;
  overflow: hidden;
}

.option label{
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  font-weight: bolder;
}

.option label::before{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #4d90fe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.option label::after{
  width: 25px;
  height: 25px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.option input:checked ~ label {
  color: #fff;
}

.option input:checked ~ label::before{
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.option input:checked ~ label::after{
  background-color: #54E0C7;
  border-color: #54E0C7;
}

.option input{
  width: 25px;
  height: 25px;
  order: 1;
  z-index: 1;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
