/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map-container {
    height: calc(100% - 112.67px);
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
    margin: 0;
    padding: 0;
}

h4 {
  padding-top: 3%;
}
/*Origin and Destination buttons */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#title {
  padding: 15px;
}

/*Landing page overlay*/
#landing-page {
  position: absolute;
  height: calc(100% - 112.67px);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 3;
  right: 0;
}

#form {
  margin: auto;
  height: 100%;
}
#landing-page input, #landing-page button{
  display: inline-block;
  position: relative;
  width: 50%;
  height: 10%;
  margin: 1%;
}

#map-content{
  display: none;
  position: absolute;
  z-index: 2;
}

#map {
  z-index: 0;
}

#safe-container {
  overflow-y: scroll;
  box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #4d90fe;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 2px;
}

#line{
  border-color: #4d90fe;
  margin-top: 5px;
  margin-bottom: 10px;
}

.option {
  border-color: black;
}
